* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background: rgb(243 193 118);
  font-family: sans-serif;
}
h1 {
  font-size: 6vw;
  font-weight: bolder;
}
/* =======================================Media======================= */
@media screen and (min-width: 481px) {
}
@media screen and (min-width: 721px) {
  h1 {
    font-size: 4vw;
  }
  p {
    font-size: 2vw !important;
  }
}
@media screen and (min-width: 1024px) {
}
