* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    display: grid;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 300px 300px 300px 40vw 40vw 300px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "p p p p p p p p p p p p"
        "d1 d1 d1 d1 d1 d1 d2 d2 d2 d2 d2 d2"
        "d3 d3 d3 d3 d3 d3 d4 d4 d4 d4 d4 d4"
        "f f f f f f f f f f f f";
}

.container > div {
    font-size: 2em;
    border: 1px solid black;
}

.header {
    grid-area: h;
    width: 100%;
}

.main {
    grid-area: m;
}

.picture {
    grid-area: p;
}

.dessert1 {
    grid-area: d1;
}

.dessert2 {
    grid-area: d2;
}

.dessert3 {
    grid-area: d3;
}

.dessert4 {
    grid-area: d4;
}

.footer {
    grid-area: f;
    background-color: #96ceb4;
}

/* main content */

.main h1 {
  font-size: 2.5rem;
  line-height: 1.4em;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}

.main p {
  font-size: 1.2rem;
  line-height: 1.8em;
  text-align: justify;
  font-weight: 600;
  font-family: 'Ibarra Real Nova', serif;
  margin: 0 1.5rem 0 1.5rem;
}

/* main picture */

.img-main {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* images boxes */

.img-box {
  position: relative;
  /* width: 50%; */
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-dessert {
  opacity: 1;
  /* display: block; */
  height: 100%;
  width: auto;
  object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;
}

.img-btn-box {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.img-box:hover .img-dessert {
  opacity: 0.3;
}

.img-box:hover .img-btn-box {
  opacity: 1;
}

.img-btn {
  background-color: #e67e22;
  color: #fff;
  font-size: 1rem;
  padding: 0.7rem;
  border-radius: 4px;
  width: 6rem;
}

/* mobile nav */

.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
}

.icon-mobile-nav {
    height: 3rem;
    width: 3rem;
    color: #333
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* navigation */

.navigation {
    display: none;
}



