* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 300px 300px 300px 150px 150px 300px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        ". m m m m m m m m m m ."
        ". p p p p p p p p p p ."
        ". d1 d1 d1 d1 d1 d2 d2 d2 d2 d2 ."
        ". d3 d3 d3 d3 d3 d4 d4 d4 d4 d4 ."
        "f f f f f f f f f f f f";
}

.container > div {
    font-size: 2em;
    border: 1px solid black;
}

.header {
    grid-area: h;
}

.main {
    grid-area: m;
}

.picture {
    grid-area: p;
}

.dessert1 {
    grid-area: d1;
}

.dessert2 {
    grid-area: d2;
}

.dessert3 {
    grid-area: d3;
}

.dessert4 {
    grid-area: d4;
}

.footer {
    grid-area: f;
    background-color: #96ceb4;
}

/* MOBILE nav */

.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    z-index: 9999;
}

.icon-mobile-nav {
    height: 3rem;
    width: 3rem;
    color: #333
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* NAVIGATION */
.navigation {
    display: none;
}

