.footer {
  width: 100%;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background: rgb(161, 11, 71);
}
.links_div h2 {
  margin: 10px;
}
.links_div h2 a {
  color: rgb(10, 9, 9);
  text-decoration: none;
}
.watermark {
  text-align: center;
  margin-top: 1em;
}
