.header {
  width: 100%;
  grid-area: header;
  display: flex;
  background: rgb(230, 8, 86);
  align-items: end;
  padding: 1em;
  color: white;
  text-align: right;
}
.logo_div {
  width: 60%;
}
.logo_div img {
  width: 100%;
}
.burger_btn {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}
.burger_item {
  padding: 0.5em 2em;
  background: linear-gradient(150deg, rgb(230, 8, 86), white);
  margin: 2px 0px;
}
@media screen and (min-width: 481px) {
}
@media screen and (min-width: 721px) {
  .burger_btn {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
}
