.main {
  width: 100%;
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.nav {
  display: none;
}
.hero {
  grid-column: 2/12;
  grid-row: 2/6;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-row-gap: 20px;
}
.hero_text {
  grid-column: 1;
  grid-row: 1/3;
}

.hero p {
  margin-top: 1em;
  font-size: 5vw;
  line-height: 1.3em;
}
.hero_img {
  grid-column: 1;
  grid-row: 3/4;
}
.hero_img img {
  width: 100%;
}
.products {
  grid-column: 2/12;
  grid-row: 7/10;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px 20px;
}
.Birthday_products {
  grid-column: 1/3;
  grid-row: 1/2;
  background: url("../img/29d968205a4d66bd3d804fd31672bb00.jpg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.wedding_products {
  grid-column: 3/5;
  grid-row: 1/2;
  background: url("../img/6d048bc0eacdb1d189299cc99dc08c71.jpeg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.cupcake_products {
  grid-column: 1/3;
  grid-row: 2/3;
  background: url("../img/cup.jpg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.gothic_products {
  grid-column: 3/5;
  grid-row: 2/3;
  background: url("../img/gothic-birthday-goth-Favim.com-6425583.jpg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
/* =========================================Media========================= */

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 721px) {
  .main {
    grid-template-rows: 20px auto repeat(5, 1fr) 50px;
    grid-row-gap: 50px;
  }
  .nav {
    display: block;
    grid-column: 2/12;
    grid-row: 2/3;
    padding: 1em;
    text-align: right;
    font-size: 2.2vw;
    font-weight: bolder;
    background: rgb(209, 143, 68);
    align-self: flex-start;
  }
  .nav ul {
    display: flex;
    justify-content: flex-end;
  }
  .nav ul li {
    padding: 0.2em 1em;
    margin: 0 0.4em;
    background: rgb(26, 10, 0);
    list-style: none;
  }
  .nav ul li a {
    color: rgb(239 196 147);
    text-decoration: none;
  }
  .hero {
    grid-row: 3/6;
    display: flex;
    flex-direction: row-reverse;
  }
  .hero_img {
    width: 50%;
  }

  .hero_text {
    width: 50%;
    align-self: center;
    padding-left: 1em;
  }
  .products {
    grid-row: 6/8;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
  }
  .Birthday_products {
    grid-column: 1/2;
    grid-row: 1;
  }
  .wedding_products {
    grid-column: 2/3;
    grid-row: 1;
  }
  .cupcake_products {
    grid-column: 3/4;
    grid-row: 1;
  }
  .gothic_products {
    grid-column: 4/5;
    grid-row: 1;
  }
}

@media screen and (min-width: 1024px) {
}
