@media (min-width: 540px) {
    .btn-mobile-nav {
        display: none;
    }


.container {
    grid-template-rows: 300px 70px 300px 20vw 300px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "n n n n n n n n n n n n"
        "p p p p p p m m m m m m"
        "d1 d1 d1 d2 d2 d2 d3 d3 d3 d4 d4 d4"
        "f f f f f f f f f f f f";
}

/* .main,
.navigation,
.picture,
.dessert1,
.dessert3 {
    margin-left: 1.5rem;
}

.main,
.navigation,
.picture,
.dessert2,
.dessert4 {
    margin-right: 1.5rem;
}

.picture,
.dessert2 {
    margin-right: 0;
}

.main,
.dessert3 {
    margin-left: 0;
} */

.img-dessert {
  /* width: 20vw; */
}


/* navigation */

.navigation {
    grid-area: n;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ffd6ba; */
    /* background-color: #
    ffc9b9 */
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.5rem;
  transition: all 0.5s;
}

.nav-link:hover,
.nav-link:active {
  color: #cf711f;
}

.nav-link.nav-btn:link,
.nav-link.nav-btn:visited {
  padding: 0.7rem 1.5rem;
  border-radius: 4px;
  color: #fff;
  background-color: #e67e22;
}

.nav-link.nav-btn:hover,
.nav-link.nav-btn:active {
  background-color: #cf711f;
}


}