@media screen and (min-width: 600px) {

    h1 {
        font-size: 1.7rem;
    }  

/* Main */
    main {
        display: grid;
        grid-template-columns: 50% 50%; 
        grid-template-areas: 
        "text text"
        "top top"
        "one two"
        "three four";     
    }

     .one {
        grid-area: one;        
    }

    .two {
        grid-area: two;
    }

    .three {
        grid-area: three;
    }

    .four {
        grid-area: four;
    }

    .top {
        grid-area: top;      
    }

    .text {
        grid-area: text;     
    }

    footer ul li {
        text-align: left;
    }
}  

@media screen and (min-width: 996px) {

    /* Header */

    .hamburger-icon {
        display: none;
    }

    .logo {      
        width: 170px;    
    }
    
    .logo-text {
        font-size: 1.1rem;        
    }   
 
    header p {
        padding: 0;
        font-size: 1.6rem;    
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;            
        padding: 30px 62px;         
    }

    /* Navbar */

    nav {
        display: block;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
        "top top text text"
        "one two three four";
    }    

    /* Main */

    h1 {
        text-align: right;
        font-size: 2.2rem;
    }
    
    .text {      
        font-size: 1rem;
        text-align: right;  
        display: flex;
        flex-direction: column;
        align-self: center;      
     }


     /* Footer */

     footer ul {
            display: flex;
            justify-content: center;
            align-items: center;
         }

         footer ul li {
             padding: 10px;
         }
     }


