/* NavBar */

nav {
    background-color: #43386b;
    width: 89%;
    display: none;
    font-weight: 600;
    margin: 0 auto;
    padding: 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;  
    border-radius: 8px;      
}

nav ul {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    align-content: center;
}

nav ul li {
    width: 100px;
    border-radius: 8px;   
    text-align:center;
    background-color: #7d66cf;  
    margin: 0 10px;
    padding: 5px;
    text-transform: uppercase;   
    color:#fae0a8;    
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;  
}

nav ul li:last-child {
    margin-right: 20px;
}

nav ul li a:hover {
    transform: scale(1.3);
    transition: 0.2s ease-in;
}

.hamburger-icon:hover {
    transform: scale(1.5);
    transition: 0.4s ease-in-out;
}
