.box {
  width: 100%;
  text-align: center;
}

.container {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 170px 140px 100px;
  gap: 0.8em;
  grid-template-areas:
    "header header"
    "content content"
    "sidebar sidebar"
    "footer footer";
}

/* HEADER */
.header {
  background-color: #d972ff;
  color: #ffffe8;
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logo {
  width: 60%;
}

.logo > img {
  width: 100%;
}

button.menu__burger {
  margin-bottom: 2rem;
  margin-right: 1rem;
  background-color: #d972ff;
  border: none;
}

.fas {
  color: #ffffe8;
  font-size: 2rem;
}

.content {
  background-color: indigo;
  grid-area: content;
}

.sidebar {
  background-color: green;
  grid-area: sidebar;
}

.footer {
  background-color: yellow;
  height: 30%;
  grid-area: footer;
  display: flex;
}

@media screen and (min-width: 540px) {
  .container {
    grid-template-areas:
      "header header"
      "content sidebar"
      "content sidebar"
      "footer footer";
  }
}

@media screen and (min-width: 900px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "header header header header"
      "content content sidebar sidebar"
      "footer footer footer footer";
  }

  .menu__burger {
    display: none;
  }
}
