/*  Add your styling here */
/* Table of Content 
___________________
    Imported Fonts
    General Styling
    Text Styling
    Hero Styling
___________________


/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato:wght@300&display=swap');
/* font-family: 'Dancing Script', cursive; */


/* General Styling */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
