@import url('https://fonts.googleapis.com/css2?family=Jua&family=Kirang+Haerang&display=swap');

body {
    font-family: 'Kirang Haerang', cursive;
}

header, footer {
    /* background-color: #a4e1d9; */
    background-color: #a4e1d94a;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: #1d3557;
}

p {
    font-family: 'Jua', sans-serif;
    color: #457b9d;
}

/* .slogan p {
    width: 51%;
} */

.navbar-toggler {
    height: 100%;
}

.navbar-brand { 
    margin-right: 4rem;
}

li {
    color: #1d3557;
}
.welcome h1 {
    font-weight: bold;
}

.img-text {
    display: flex;
    align-items: flex-end;
}

.img-text figure {
    width: 100%;
}

.grid-img {
    background-color: #a4e1d94a;
    height: 20vh;
    width: 100vw;
}


@media (min-width: 540px) { 
    .slogan p {
        font-size: 1.5rem;
    }
}

/* @media (min-width: 900px) {...} */