@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";

.logo-img {
  margin-top: 40px;
  max-width: 173px;
  height: auto;
}
.page-header {
  width: 100vw;
  height: 100vw;
  margin: 2rem;
}
.header {
  display: grid;
  width: inherit;
  margin-bottom: 3rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "left left left logo logo logo logo logo logo right right right"
    ". . . logo logo logo logo logo logo search search search";

  .header-links-left {
    grid-area: left;
    @include designli;
  }
  .logo-img {
    grid-area: logo;
    margin: auto;
  }
  .header-links-right {
    grid-area: right;
    @include designli;
  }
  .control-search {
    grid-area: search;
    position: relative;
    input {
      border-color: #a9a9a9;
      height: 4.5rem;
      width: 20vw;
      margin: 0;
      padding-right: 5.6rem;
      font-size: 1.8rem;
    }
    label {
      position: absolute;
      right: 5vw;
      top: 0.1rem;
      font-size: 2.5rem;
      border-left: solid 1px #000;
      padding-left: 0.7rem;
      padding: 0 0.7rem;
      cursor: pointer;
    }
  }
}
.nav-sections {
  width: inherit;
  margin-top: 3rem;
  font-size: 1.7rem;
  border-top: solid 1px rgba(80, 80, 80, 0.199);
  margin: 0;
  padding: 0;
  ul {
    display: flex;
    justify-content: center;
    // gap: 2rem;
    list-style: none;
    padding: 1.7rem 0;
  }
  ul li {
    padding: 1rem;
  }
  ul li:hover {
    background-color: hsla(236, 100%, 84%, 0.425);
  }
  li a {
    text-decoration: none;
    color: #292522;
  }
}
