.heading-main, .heading-2{
    font-family: 'Shrikhand', cursive;
    text-align: center;
}

.heading-main{
    color: white;
    font-size: 5rem;
    
}

.subheading-main{
    color: white;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}