:root {
  --standard-gap-Y: 15vh;
  --standard-gap-X: 10vw;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(51, 51, 51);
  background-color: rgb(238, 238, 238);
}

header {
  position: fixed;
  display: flex;
  /*border: 2px solid black;*/
  background-color: rgb(187, 187, 187);
  width: 100%;
}

header img {
  max-height: 100px;
  padding-top: 25px;
}

nav {
  text-align: end;
}

label {
  font-size: 40px;
  padding-right: 5vw;
}

.hidden_nav {
  display: none;
}

.header_right p {
  display: flex;
  text-align: end;
  font-style: italic;
  margin-top: 7vh;
  padding-left: 10vw;
  padding-right: 5vw;
}

main {
  box-sizing: content-box;
  padding-top: 200px;
  padding-left: var(--standard-gap-X);
  padding-right: var(--standard-gap-X);
  text-align: center;
  font-size: 1.3em;
  line-height: 2em;
}

main h1,
p {
  text-align: left;
}

main img {
  width: 75vw;
  max-width: 400px;
  padding-top: var(--standard-gap-Y);
}

aside img {
  width: 35vw;
  max-width: 150px;
}

aside {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  gap: 30px;
  box-sizing: content-box;
  justify-content: center;
  padding-top: 250px;
  padding-left: var(--standard-gap-X);
  padding-right: var(--standard-gap-X);
  padding-top: var(--standard-gap-Y);
}

footer {
  margin-top: var(--standard-gap-Y);
  background-color: rgb(187, 187, 187);
  display: grid;
  padding-bottom: 3vh;
}

.short_contact {
  display: none;
}

footer p {
  line-height: 0.5em;
  padding-left: 2vw;
}

footer h3 {
  margin-bottom: 0px;
  text-align: center;
}
