    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }
    
    body {
        color: #38201F;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .header p {
        padding-top: 50px;
        font-style: italic;
        font-size: 14px;
    }
    
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 50px;
    }
    
    .header img {
        width: 8em;
    }
    /************* NAVBAR ****************/
    
    .navbar {
        background-color: #bcf5ca;
        height: 60px;
        width: 100%;
    }
    
    .navbar ul {
        float: right;
        margin-right: 30px;
    }
    
    .navbar ul li {
        display: inline-block;
        line-height: 55px;
        margin: 0 10px;
    }
    
    .navbar ul li a {
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        padding: 7px 13px;
    }
    
    a.active,
    a:hover {
        background: #509461;
        transition: .5s;
    }
    
    .checkbtn {
        font-size: 30px;
        float: right;
        line-height: 55px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    
    #check {
        display: none;
    }
    /************* HERO ****************/
    
    .main-pic {
        width: 70%;
    }
    
    aside {
        float: right;
    }
    /************* MEDIA QUERIES ****************/
    
    @media (max-width: 952px) {
        .navbar ul li a {
            font-size: 16px;
        }
    }
    
    @media (max-width: 858px) {
        .checkbtn {
            display: block;
        }
        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background-color: #0d3802;
            top: 180px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        }
        .navbar ul li {
            color: #ffffff;
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        .navbar ul li a {
            font-size: 20px;
        }
        a.active,
        a:hover {
            background: none;
            color: white;
        }
        #check:checked~ul {
            left: 0;
        }
    }