@media only screen and(max-width:768px){
    header.navbar-brand{
        padding-left: irem;
    }
    .section-1 .row.col-md-6.panel{
        position:initial;
        width:initial;
        height:initial;
    }
    @media only screen and(max-width:425px){
        footer.row.col-md-2{
            margin-top:8vmin;
        }
}