/*  Add your styling here */
body { 
  margin: 0px;
  border: 0px;
  font: size 16px;
}
.main-container{
width: 100%; 

max-width: 1800px;
margin: 0px auto;
font-size: 1em;
}
/*header style*/

header{
background-color: rgb(240, 235, 245);
display: flex;
justify-content: space-between; 
font-size: 2em;  
}

/*logo style*/
.logo{
margin: 10px 10px 10px 10px;
width: 200px;
}
.logo img{  
width: 100%;
}


.hamburger-menu {
height: 30px;
width: 30px;
display: flex;
flex-direction: column;    
justify-content: space-between;

}
.hamburger-menu span {
height: 20%;    
background-color: gray;
border-radius: 2px;
}
.nav-p-container {
  
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: space-between;
margin: 5px 5px 10px 10px;
}

/*main style */



main{
margin: 10px 10px 0px 10px;
}
.main-img-container img{

width: 250px;
height: 250px;
width: 100%;
}
.images img{
width: 250px;
height: 250px;
width: 100%;

}
.images-container {    
display: grid;
grid-template-columns: 1fr 1fr ;
   
}

/*footer style*/
footer{
background-color: rgb(195, 177, 211);

}
.links-container{
display: flex;
flex-direction: column;
margin-left: 10px;
}
.copyright {
text-align: center;
}

/*media style*/
@media (min-width: 540px) {
.images-container {    
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
   gap:5px; } 
   .second-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.main{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
header ,footer{
  background-color: rgb(129, 167, 135);
  
}


@media (min-width: 900px) {
header ,footer{
  background-color: rgb(226, 69, 69);
    }
   .links-container{
      display: flex;
      flex-direction:row;
      justify-content: space-around;
            
      
    }

}
