/* /
h1 {
    color: blueviolet;
    font-size: medium;
}
/*
h1 = selector
color = is a Property
blueviolet = is a Value
{color: blueviolet} = is a Declaration
; = is used to add another declaration inside the curly braces
{} = surrounds a Declaration Block

Element Selector
p {
    text-align: center;
    color: chocolate;
}

id Selector
#cake {
    text-align: center;
    color: chocolate;
}

class Selector
.cake {
    text-align: center;
    color: chocolate;
}

element with class Selector
p.cake {
    text-align: center;
    color: chocolate;
}
*/
body {
    height: 0px;
    width: 500px;
    padding: 50px;
    margin: 20px;
    background-color: cornflowerblue;
}

img {
    max-width: 100%;
    height: auto;
}

.item1 { grid-area: header; }
.item2 { grid-area: welcome; }
.item3 { grid-area: main-image; }
.item4 { grid-area: product-image1; }
.item5 { grid-area: product-image2; }
.item6 { grid-area: product-image3; }
.item7 { grid-area: product-image4; }
.item8 { grid-area: form; }
.item9 { grid-area: copyright; }

.grid-container {
    display: grid;
    grid-template-areas:
        'header header'
        'welcome welcome'
        'main-image main-image'
        'product-image1 product-image2'
        'product-image3 product-image4'
        'form form'
        'copyright copyright';

    grid-row-gap: 10px;
    /* background-color: blueviolet; */
    padding: 10px;
}
.grid-container > div {
    background-color: cornflowerblue;
    text-align: center;
    font-size: 30px;    
}