.homepage-main {
    border:2px solid palevioletred;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px auto auto auto 100px;
    /*  grid-template-areas must follow the exact number of columns and rows defined above (4 columns and 4 rows)  */
    grid-template-areas:
    "header header header header"
        "hero     hero    hero     hero"
        /* one for each column */
        "feature  feature feature  feature"
        "product  product product  product"
        "footer footer footer footer";
    /* the dot is used to skip a column */
}

.homepage-header{
    
    grid-area: header;
}

.homepage-header img{
    height:120px;
    width: 120px;
    object-fit: cover;
    padding-top:10px;
    padding-left: 10px;
    float: left;
    
}

.homepage-header h2{
    font-size: 20px;
    text-align: right;
    padding-right: 20px;
    color: palevioletred;
    padding-top: 60px;
}

.homepage-hero {
   border:2px solid palevioletred;
    grid-area: hero;
    padding:30px;
}

.homepage-hero p{
    font-size: 24px;
}

.homepage-hero h1{
    font-size: 30px;
    color:palevioletred
}

.homepage-feature {
background-color: darkBlue;
grid-area: feature;
display:flex;
align-items: center;
justify-content: center;
    
}

.main_image{
   width:400px;
   height:320px;
   object-fit: cover;
   
}

/* Product section  change background color */ 

.homepage-products {
grid-area: product;
display:grid;
padding-bottom: 5px;
padding-top:5px;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 190px 190px;
grid-template-areas:
        "image1 image2 "
        "image3 image4 "
        ;
justify-content: center;
align-content:center;
align-items: center; 
border: 2px solid palevioletred
}

.image1{
grid-area: image1;
width:150px;
height: 150px; 
padding: 20px;  

}

.image2{
grid-area: image2;
width: 150px;
height: 150px; 
padding:20px;
       
}

.image3{
grid-area: image3;
width: 150px;
height: 150px;
padding: 20px;
    
        }

.image4{
grid-area: image4;
width: 150px;
height: 150px;
padding:20px;
       
      
}

.homepage-footer {
    background-color: palevioletred;
    grid-area: footer;

}

.burger {
    width: 80px;
    height: 10px;
    background-color: white;
    margin: 10px 0;


}

.burger2 {
    width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;

}

body {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #444444;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
    color: #232323;
    transition: color 0.3s ease;
}

a:hover {
    color: palevioletred;
}

#menuToggle {

    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked~ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}


