@import './variables';

*
{
    // font-family: cursive;
    font-family: ubuntu, Verdana, Arial, sans-serif;
    background: $primary_b_color;
}



html{
    font-size: 10px;
    
}

@mixin flexCenter($direction)
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin bord
{
    border: 2px solid;
}


// this is the container from bootstrap
// it never takes 100% width automatically, container fluid takes 100% width.
.container 
{

  width:100%;
    @include flexCenter(column);
    // @include bord;


    .logo-contact
    {
      @include flexCenter(row);
      justify-content: space-between;
      // @include bord();
      width:100%;


      h1
      {
        align-self: flex-end;
        margin: 3rem 2rem;
        font-size: 2rem;
        color:#EEE2DC;
        border-color:#123C69;
        background-color: $secondary_color;
        padding:2rem;
        border-radius: 10%;
        border:2px solid;
        box-shadow: 4px 4px grey;

      }
    }

    &-logo{

        border-radius: 50%;
        margin:3rem;
        @include bord;
        border-width: 1rem;
        color:$secondary_color;
        box-shadow: 4px 4px grey;

    }

    .company-name{
        font-size: 5rem;
        color:$secondary_color;
        text-shadow: 2px 2px grey;
        // color:rgb(41, 126, 114);
    }
}

// -------------------------------------------------------------------------------

/* The Overlay (background) */
.overlay {   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); 
    background-color: rgba(245, 148, 148, 0.9); 
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 3rem; /* 30px top margin to avoid conflict with the close button on smaller screens */
    background-color: rgba(150, 243, 238, 0.7); 
    padding:3rem 0;
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 3rem;
    color: #e76565;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #585454;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }



  .header
  {

    @include flexCenter(column);
    #{&}-nav-button
   {
      font-size: 3rem;
      width:30%;
      background-color: $secondary_color;
      color:rgb(5, 89, 158);
      // text-shadow: 2px 2px grey;
      border: 0.3rem solid;
      border-color: rgb(250, 197, 197);
      text-align: center;
      padding:0.9rem 0.1rem;
      margin-top: 4rem;
      box-shadow: 4px 4px grey;

      &:hover{
        background-color:darken($secondary_color,5%);
        border-color: rgb(9, 90, 90);
      }
    }
  }
  
// ---------------------------------------------------------------------------------

  .upper-main
  {

    margin-top: 0;

    h2{
      margin-top: 3rem;
    }
    @include flexCenter(column);
    &-image
    {
      width:80%;
      border:4px solid;
      border-radius: 5%;
      border-color: rgb(114, 17, 143);
    }

    &-tagline
    {
      color:$secondary_color;
      font-size: 3rem;
      text-align: center;
    }
  }



  .lower-main
  {

    @include flexCenter(column);


    h2
    {
      color:$secondary_color;
      font-size: 3rem;
      text-align: center;
      width:60%;
      margin-top: 10rem;
    }

    .slideshow-1
    {
      border:3px solid;
      border-radius: 10%;
      border-color: rgb(226, 136, 174);
    }

    .wedding-section
    {
      @include flexCenter(column);
      margin-top: 6rem;

      h3
      {
        font-size:3.5rem;
        color:$secondary_color;
        margin-top: 4rem;
        margin-bottom: 0;
      }
      .wedding-cakes
      {
        width:30rem;
        margin:3rem;
        height: 40rem;
        border:5px solid;
        border-color:rgb(243, 140, 140);
        border-radius: 5%;
      }
    }

  }


  .footer
  {
    @include flexCenter(row);
    margin-top: 5rem;
    ul
    {
      @include flexCenter(row);
      justify-content: space-around;
      width:70%;
    }
    li{
      list-style: none;
      font-size: 2rem;
      color:rgb(19, 119, 150);
      border:3px solid;;
      padding: 1rem 1rem;
      background-color: rgb(240, 144, 144);
      border-radius: 20%;
      box-shadow: 5px 5px;
    }
  }




  @media only screen and (max-width:600px)
  {
    .container .logo-contact
    {
      @include flexCenter(column);
      h1
      {
        align-self: center;
      }
    }

  }

  @media only screen and (max-width:450px)
  {
    .container .company-name
    {
      font-size: 4rem;
      text-align: center;
      
    }

    .upper-main-tagline
    {
      font-size: 2rem;
    }

    .lower-main
    {
      h2
      {
        font-size: 2rem;
      }
    }
  }