/*  General styling*/
:root {
    --pink: #9A3249;
    --light-pink: #F7C7DB;
    --black: #000;
    --light-green: #73BFB0;
    --green: #1B998B;
    --red: #582630;
    --white: #fff;
}

html {
    box-sizing: border-box;
    font-family: "Roboto" sans-serif;
    color: var(--red);
    margin: 0;
    font-size: 0.6rem;
    
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1f;
    grid-template-rows: 1fr 4f 1f;
    grid-row-gap: 2rem;
    grid-template-areas: "header""main""footer";
}

h1,
h2 {
    font-family: 'Kalam', cursive;
    text-align: center;
    font-size: 4rem;
    margin-top: 1rem;

}

h2 {
    padding-top: 12rem;
    color: var(--pink);
    font-weight: 600;
}

/*  Header styling*/
header {
    height: 40vh;
    background-color: var(--white);
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#logo {
    height: 300px;
    width: auto;
}

/*  nav styling*/
.menu-wrap {
    height: 150vh;
    position: fixed;
    top: 1rem;
    right: 6rem;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 3.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 4px;
    background: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/*top and bottom line*/
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 4px;
    background: inherit;
}

/*moves line down*/
.menu-wrap .hamburger>div::after {
    top: 10px;
}

/*toggler animate*/
.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}

/*turn lines into X*/
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .menu {
    position: fixed;
    top: 2rem;
    left: 25rem;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;

}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    padding: 0.5rem;
    display: inline-block;
}

.menu-wrap .menu>div>div>ul>li>a {
    color: var(--red);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;

}

.menu-wrap .menu>div>div>ul>li>a:hover {
    color: var(--green);

}

/* Styling MAIN */
main {
    background-color: var(--light-pink);
}

.wellcome h1 {
    font-size: 7rem;
    padding-top: 6rem;
    padding: 4rem;
}

.wellcome p {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 5rem;
}

.hero-img img {
    width: 100%;
    height: auto;
    max-height: 700px;
    padding: 2rem;

}

.products {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;

}

.product img {
    width: 100%;
    height: auto;
    max-height: 100px;
    padding: 1rem;
}

footer {
    margin-top: -2rem;
    height: 10vh;
    background-color: var(--green);

}


footer .copy {
    font-size: 3rem;
    text-align: center;
    padding-top: 4rem;
}
/*Style for screen at least 540px wide*/
@media screen and (min-width: 540px) {
    #logo {
        height: 200px;
        width: auto;
        margin-top: -1rem;
        margin-left: 3rem;
    }

    h2 {
        font-size: 2rem;
        color: var(--pink);
        height: 50%;
        margin-top: -5rem;    
    }
    .wellcome h1 {
        font-size: 5rem;
    }
    
    footer .copy {
        font-size: 2rem;    
    }
    footer {
        height: 20vh;
    }
}
/*Style for screen at least 900px wide*/
@media screen and (min-width: 900px) {
       
        header {
                height: 20vh;
            }
        
            #logo {
                height: 250px;
                width: auto;
                margin-top: -2rem;
                margin-left: 3rem;
        
            }
        
            h2 {
                font-size: 5rem;
                color: var(--pink);
                font-weight: 900;
                margin-top: -25rem;
                margin-right: 10rem;
            }
        
            .menu-wrap {
                height: 50%;
                position: relative;
                top: 15rem;

            }
        
            .menu-wrap .hamburger {
                visibility: hidden;
            }
        
            .menu-wrap .menu {
                visibility: visible;
                margin-top: 12rem;
                position: relative;
                margin-left: -80rem;
            }
        
            .menu-wrap .menu>div>div>ul>li {
                padding: 2rem;
            }
        
            .menu-wrap .menu>div>div>ul>li>a {
                font-size: 4rem;
            }
        
            .menu-wrap .menu>div>div>ul>li>a:hover {
                color: var(--green);
            }
        
            main {
                padding-top: 20rem;
            }
        
            .wellcome {
                float: right;
                width: 50%;
                margin: auto;
        
            }
        
            .wellcome h1 {
                font-size: 8rem;
                padding-top: 10rem;
                padding: 4rem;
            }
        
            .wellcome p {
                font-size: 4rem;
                text-align: center;
                padding-bottom: 5rem;
                line-height: 6rem;
            }
        
            .hero-img img {
                padding-top: 6rem;
                width: 50%;
                height: auto;
                padding: 2rem;
            }
            .products {
                display: flex;
                justify-content: space-between;
            }
            .product .cake  {
                width: 100%;
                height: auto;
                padding: 1rem;
            }
        }