/*  Add your styling here */


.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-section, .footer-section {
    color: #432818;
    background: #F4ACB7;
    margin: 0;
}

body {
    font-family: 'Itim', cursive;
    color: #432818;
    background-color: #F1D8D5;
}

main {
    margin: 1rem;
}


.logo {
    width: 7rem;
    height: 10rem;
    margin: auto 1rem;
}


.hamburger-menu {
    width: 6rem;
    height: 7rem;
}

.hamburger-menu-item {
    font-size: small;
    background-color: #CDF3AC;
    margin: 0.5rem;
    font-weight: bold;
    padding: 0.25rem;
    text-align: right;
}

.large-nav {
    display: none;
}


.slogan {
    font-size: medium;
    font-weight: bold;
    text-align: right;
    display: flex;
    align-items: end;
    padding: 2.5rem 0.5rem 0.5rem 0;
}


.header-right {
    display: flex;
    flex-direction: column;
    align-items: end;
}


h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
}

.site-description {
    font-size: 2rem;
    font-weight: bold;
    text-align: justify;
}

.hero-section {
    width: auto;
    height: auto;
    background-color: #E7E9E8;
}

#hero-img {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cake-display {
    margin: 27px 0;
    display: grid;
    gap: 20px;
    /* grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-template-rows: repeat(2, auto); */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

/* each box is width=201 and heith=125 */

img {
    width: 100%;
    height: 100%;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    height: auto;
    
}
.side-footer {
    display: flex;
    flex-direction: column;
    height: 7rem;
    width: 14rem;
    margin: 2rem 1rem 1rem 1rem;
}

.side-footer-item {
    margin: 0.5rem;
    background-color: #CDF3AC;
    font-size: large;
    font-weight: bold;
    padding: 0.25rem;
}

.center-footer {
    align-items: end;
    margin-left: auto;
    margin-right: auto;
    background-color: #F1D8D5;
    margin-bottom: 2rem;
    padding: 0.25rem;
}


@media screen and (min-width: 540px) {
    body {
        background-color: #d7e4ca;
    }
    .center-footer {
    background-color: #d7e4ca;
}
}

@media screen and (min-width: 900px) {
    body {
        background-color: #f3e3bc;
    }
    .cake-display {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .hamburger-menu {
        display: none;
    }

    .large-nav {
        display: flex;
        flex-direction: row;
        justify-content: right;
        background-color: #F4ACB7;
        height: auto;
        width: auto;
        margin-top: 2rem;
        margin-bottom: 3rem;
        padding: 0.25rem 1rem;
    }
    
    .large-nav-item {
        text-align: center;
        font-size: large;
        font-weight: bold;
        background-color: #CDF3AC;
        margin: 1rem;
        justify-content: space-evenly;
        font-weight: bold;
        padding: 0.5rem;
        width: 9rem;

    }
    

    .slogan {        
        display: flex;
        background-color: #F4ACB7;
        font-size: x-large;
        font-weight: bold;
        text-align: right;
        justify-content: end;
        align-items: end;
        margin: 0 2rem;
        width: auto;
    }

    .desktop-hero {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
    }

    /* .desktop-hero {
        display: grid-reverse;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    } */

    .footer-section {
        display: flex;
        flex-direction: column;
        height: 15rem;
    }
    .side-footer {
        display: flex;
        flex-direction: row;
        height: auto;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .side-footer-item {
        margin: 2rem 2rem 0 2rem;
        background-color: #CDF3AC;
        font-size: x-large;
        font-weight: bold;
        padding: 0.25rem;
        text-justify: center;
        text-align: center;
        width: 15rem;
    }

    .center-footer {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #f3e3bc;
        width: 30rem;
        text-align: center;
    }
}
