

/*  Add your styling here */
body {
    padding: 0;
    box-sizing: border-box;
    max-width: 420px;
    margin: 0 auto;
  }
  /* .container{
      display: grid;
      grid-template-columns:1fr
      grid-template-areas:
             "h"
             "m"
             "m"
             "f";
      background-color: rgb(249, 237, 246); 
  }
  
  .header{
  grid-area: h;
   box-shadow: 1px 1px 4px 0 rgb(186, 166, 195);
  }
  .menu{
      display: none;
      padding:0;
      background-color: rgb(252, 230, 240);
      box-shadow: 2px 4px 2px 0 rgb(216, 188, 229);
      clear: both;
  }
  .headbar-section{
  }  
      
  }
  .headbar-section img{
      margin-right:2em;
      
  }
  .menu li{
      list-style-type: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: small;   
  }
  .menu li a{
      text-decoration: none;
      align-self: center;
      color: rgb(22, 22, 79);
      cursor: pointer;   
  }
  .header ul a:hover{
      background-color: rgb(222, 157, 228);
  }
  .head-tittle{
      align-self:flex-end;
      font-size: 2rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: 800px;
      color: rgb(177, 67, 227);
      line-height: 3rem;
      font-style: oblique;
  }
  .main{
  margin: 0 auto;
  padding: 2em;
  }
  .article{
  
  }
  .article h1{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: darkmagenta;
      font-size:2.5rem;
      margin-top: 1em;;  
  }
  .main h1{
      
  
  }
  .article p{
      line-height:2rem;
      color: rgb(105, 14, 75);
      text-align: justify;
      font-size: 17px ;
  
  }
  .section{
      
  
  }
  .footer{
  } */
  /* img{
    max-width: 100%;;
     object-fit:cover;
     
  } */
  /* .header .menu-btn{
      display: none;
  } */
  /* @media screen and (min-width: 540px) {
      .menu{
          display: none;
      }
      .header .menu-icon{
      
      padding:28px 20px;
      position:relative;
      cursor:pointer;
      }
      .header .menu-icon .nav-icon{
          background-color: rgb(13, 11, 11);
          display: block;
          height:2px;
          width:18px;
          position: relative;
          transition:background .2 ease-out;}
  
          .header .menu-icon .nav-icon:before{
              background-color: rgb(19, 18, 18);
              content: "";
              display:block;
              height:100%;
              width: 100%;
              position: absolute;
              top:7px;
              transition: all .2 ease-out;
             
  
          }
          .header .menu-icon .nav-icon:after{
              background-color: rgb(19, 18, 18);
              content: "";
              display:block;
              height:100%;
              width: 100%;
              position: absolute;
              top:-7px;
              transition: all .2 ease-out;
              
  
          }
         
  
      } */
  /* @media only screen and (max-width: 540px) { */
    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 200px auto;
    }
    .header {
      display: grid;
      /* grid-gap:5px; */
    }
    .section-headbar {
      display: grid;
      grid-template-columns: repeat(3.1fr);
      grid-template-rows: 50px 200px;
  
      /* grid-template-areas:"h1 . l"
                           "h1 . p"; */
    }
    .section-header-img {
      /* grid-area: "h1"; */
      grid-column: 1 / 2;
      grid-row: 1/-1;
    }
    .section-headbar p {
      margin-top: 80px;
      font-size: 1.5rem;
      font-family: Georgia, "Times New Roman", Times, serif;
      color: rgb(177, 67, 227);
      line-height: 3rem;
      font-style: oblique;
      grid-column: 2/4;
      grid-row: 1;
      margin-left: 1.5em;
    }
    .img-svg {
      margin: 15px;
      height: 60%;
      grid-column: 3/4;
      grid-row: 1/2;
    }
    main{
      margin:2em;
        display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 356px 356px 356px 356px;
      grid-template-areas: "text text"
                           "img img"
                           "product product"
                           "product product";
                        
    }
    /* .article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px 100px 100px 100px;
      grid-template-areas: "text text"
                           "img img"
                           "product product"
                           "product product";
    } */
    .text{
        grid-area: text;
        height: auto;
        
    }
    .paragh{
      font-size: 1em;
    }
    .div{
        grid-area: img;
    }
    .section{
        grid-area: product;
    }
    .article h1 {
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      color: darkmagenta;
      font-size: 2rem;
      grid-column: 1/2;
      grid-row: 1/2;
      margin-left: 13px;
    }
    .article p {
      grid-column: 1/-1;
      grid-row: 2 /;
      line-height: 2rem;
      color: rgb(105, 14, 75);
      text-align: justify;
      font-size: 1.1rem;
      margin: 1em;
    }
    .image1 {
      grid-column: 1 / 3;
      grid-row: 3;
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 0;
    }
    /* .section {
      grid-area: product;
      /* display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 200px 200px; */ */
    /* } */
    .img11 {
      grid-column: 1/2;
      grid-row: 1;
      height: 190px;
      width: 250px;
      object-fit: cover;
    }
    .img12 {
      grid-column: 2/3;
      grid-row: 1;
      height: 190px;
      width: 250px;
      object-fit: cover;
    }
    .img13 {
      grid-column: 2/3;
      grid-row: 2;
      height: 190px;
      width: 250px;
      object-fit: cover;
    }
    .img14 {
      grid-column: 1/2;
      grid-row: 2;
      height: 190px;
      width: 240px;
      object-fit: cover;
    }
    .menu {
      display: none;
    }
  
  
  /* @media only screen and (min-width:540px) {
    body {
      padding: 0;
      box-sizing: border-box;
      max-width: 900px;
    }
    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: autox auto 200px auto;
    }
    .menu{
        display: none;
    }
    
    .header {
      display: grid;
    }
    .section-headbar {
      display: grid;
      grid-area: "h";
      grid-template-columns: repeat(3.1fr);
      grid-template-rows: 50px 200px;
  
      
    }
    .section-header-img {
      
      grid-column: 1 / 2;
      grid-row: 1/-1;
    }
    .section-headbar p {
      margin-top: 80px;
      font-size: 1.5rem;
      font-family: Georgia, "Times New Roman", Times, serif;
      color: rgb(177, 67, 227);
      line-height: 3rem;
      font-style: oblique;
      grid-column: 2/4;
      grid-row: 1;
      margin-left: 1.5em;
    }
    .menu {
      grid-column: 1/-1;
      grid-row: 3/4;
    }
    .img-svg {
      margin: 15px;
      height: 60%;
      grid-column: 3/4;
      grid-row: 1/2;
    }
    .article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 50px auto auto 50px;
    }
    .article h1 {
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      color: darkmagenta;
      font-size: 2rem;
      grid-column: 1/2;
      grid-row: 1/2;
      margin-left: 13px;
    }
    .article p {
      grid-column: 1/-1;
      grid-row: 2;
      line-height: 2rem;
      color: rgb(105, 14, 75);
      text-align: justify;
      font-size: 1.1rem;
      margin: 1em;
    }
    .image1 {
      grid-column: 1 / 3;
      grid-row: 3;
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 0;
    }
    .section {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 200px 200px;
    }
    .img11 {
      grid-column: 1/2;
      grid-row: 1;
      height: 190px;
      width: 250px;
      object-fit: cover;
    }
    .img12 {
      grid-column: 2/3;
      grid-row: 1;
      height: 190px;
      width: 250px;
      object-fit: cover;
    }
    .img13 {
      grid-column: 2/3;
      grid-row: 2;
      height: 190px;
      width: 250px;
      object-fit: cover;
    }
    .img14 {
      grid-column: 1/2;
      grid-row: 2;
      height: 190px;
      width: 240px;
      object-fit: cover;
    } */
  /* } */
  /* @media only screen and (min-width: 900px) {
    body {
      padding: 0;
      box-sizing: border-box;
      min-width: 100vw;
    }
    .section-headbar {
      display: flex;
      justify-content: space-between;
    }
    .section-headbar img{
        width: 300px;
    }
    .img-svg {
      display: none;
    }
    .head-tittle {
      margin-right: 126px;
      margin-top: 123px;
      font-size: 2rem;
      font-family: Georgia, "Times New Roman", Times, serif;
      color: rgb(177, 67, 227);
      line-height: 3rem;
      font-style: oblique;

    }
    .menu {
      display: flex;
      list-style: none;
      justify-content: flex-end;
      gap: 30px;
      background-color: rgb(231, 175, 228);
      padding: 1.3em;
      font-size: 1.5rem;
      
    }
    .menu li a {
      text-decoration: none;
      background-color: blueviolet;
      color: rgb(233, 229, 211);
      padding: 2px;
    }
    .menu li a:hover {
        background-color: rgb(92, 49, 133); 
      }
    .article {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 200px 200px;
      
    .text {
      grid-column: 3/5;
      grid-row: 1/3;
      
    }
    .text p{
        font-size: 2rem;
        text-align: justify;
        font-family:Georgia, 'Times New Roman', Times, serif ;
        color: rgb(92, 41, 139);
    }
    .text h1{
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      color: darkmagenta;
      font-size: 3rem;
      margin: 0px;
        
    }
    .div{
      grid-column:1/3;
     
    }
    .image1{
        width: 100%;
        object-fit: cover;
    }
    .section{
        display: flex;
        justify-content: space-between;
    }
    .img11 {
      object-fit: cover;
    }
    .img12 {
        object-fit: cover; 
    }
    .img13 {
        object-fit: cover;
    }
    .img14 {
        object-fit: cover;
    }
    .footer{
        display: flex;
        justify-content: space-around;
    }
    .footer p{
        font-size: 1.6rem;
        color: blueviolet;
        font-style:italic;
    }
  }
}
   */