:root {
    --color-1: #c38e70;
    --color-2: #e0afa0;
    --color-3: black;
    --color-4: rgb(201, 201, 201);
}

*
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*HEADER*/
header
{
    display: grid;
    grid-template-areas: "main" "sub";
    background-color: var(--color-4);
}

.header-main
{
    display: grid;
    grid-area: main;
    grid-template-areas: "logo catchphrase";
    background-color: var(--color-1);
}

.header-logo
{
    grid-area: logo;
    height: 200px;
    width: 200px;
    margin: 4rem;
    border-radius: 5px;
}

.header-content
{
    grid-area: catchphrase;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.dropdown-img-mobile
{
    width: 100%;
}

.dropdown-button
{
    width: 70px;
    border: 0;
    margin-right: 20px;
    margin-top: 20px;
    background-color: var(--color-1);
}

.header-content .header-catchphrase
{
    grid-area: catchphrase;
    text-align: right;
    font-size: 1.75rem;
    margin-top: 100px;
    margin-right: 30px;
    width: 70%;
}

.header-catchphrase
{
    font-style: italic;
    font-weight: bold;
}

.header-sub
{
    visibility: hidden;
    grid-area: sub;
    grid-template-areas: "test catchphrase";
    padding: 1px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    width: 100%;
}

.header-sub ul
{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    background-color: var(--color-2);
    padding-left: 1rem;
}

.header-sub ul li
{
    display: block;
    font-weight: bold;
}

.header-sub ul li a
{
    color: var(--color-3);
}

.buttons
{
    margin: 1.5rem;
    padding: 1rem;
    padding-right: 4rem;
    padding-left: 4rem;
    background-color: rgb(204, 130, 130);
}

.buttons:hover
{
    background-color: rgb(204, 108, 108);;
}



/*MAIN*/
main
{
    padding: 1rem;
    background-color: var(--color-4);
}

.grid_items-1
{
    padding: 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-row-gap: 2rem;
}

.grid_items-1 > div
{
    padding: 1rem;
}

.grid_img-1 img
{
    width: 90%;
    border-radius: 5px;
}

.grid_items-2
{
    padding: 1rem;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
    grid-row-gap: 40px;
}

.grid_items-2 > div
{
    padding: 1rem;
}

.grid_img-2 img
{
    width: 90%;
    border-radius: 5px;
}

img.sizechange
{
    transition: all .5s;
    
}

img.sizechange:hover
{
    transform: scale(1.1);
}


@media (min-width: 540px)
{
    .dropdown-button
    {
        visibility: hidden;
    }

    .header-sub
    {
        visibility: visible;
        text-decoration: none;
    }

    .grid_items-1
    {
        grid-template-columns: 47.5% 47.5%;
        grid-column-gap: 5%;
        grid-row-gap: 4rem;
    }

    .grid_text-1
    {
        grid-column: 2;
        grid-row: 1
    }

    .grid_items-1 > div 
    {
        padding: 2rem;
    }


    .grid_items-2
    {
        grid-template-columns: 24.75% 24.75% 24.75% 24.75%;
        grid-column-gap: 5px;
    }

    .grid_items-2 > div
    {
        padding: 0px;
    }
}
