/* mobile device style */

body{
  background-color: #f4f1de;
  width: 100%;
  /* font-size: 1rem; */
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style-type: none;
}

.nav_bar{            
   width: 100%;    /* spans w/hole width */
  
}

nav .logo_nav{   /* first navbar with button */
  display: flex;
  width: 100%;
  height: auto;
  font-size: 1.3rem;
  justify-content: space-between;
  border-bottom: 3px solid #ffc4d6;
  padding-top: 0.3em;
  padding-bottom: 0.2em;
} 

a:first-of-type {  /* select the contact link alone in the nav  */
  display: flex;
  padding-right: 1em;
  align-self: center;
}

nav img{
  width: 10%;
  border-radius: 25%;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: -1em;

}

/* main page styling */
.hello{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 3% 0;
  justify-content: center;


}
.hello h1{
  text-align: center;
}

 .cakes{
  width: 100%;
  height: 11em;
  align-self: center;
  /* height: auto; */
  margin-top: 1em;
}

.carousel_container{
  width: 100%;
  overflow: hidden;
  position: relative;
  height:0px;
  padding-bottom: 50%;
}
.carousel_container img{
  position:absolute; 
  animation:carousel_container 20s infinite; 
  opacity:0;
  width: 100%;
  height: auto;
}

/* slide shows */
/* transtion images between the % given */
@keyframes carousel_container {25%{opacity:1;} 40%{opacity:0;}} 
.carousel_container img:nth-child(4){animation-delay:0s;}
.carousel_container img:nth-child(3){animation-delay:5s;}
.carousel_container img:nth-child(2){animation-delay:10s;}
.carousel_container img:nth-child(1){animation-delay:15s;}

/* hidden cake images in small devices */

#cake_1, #cake_4{
  display: none;
}

.bottom_border{
  border-bottom: 3px solid #ffc4d6;
  margin-top: 1.5rem;

}


.company_info ul{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
  margin-left: -1em;
  flex-shrink: 1;

}
.social_icons{
  display: flex;
  justify-content: center;
}

footer p{
  text-align: center;
  padding-top: 0.7em;
}

.facebook{
  padding: 0 2%;
  height: 0.3em;
  color:  #3b5998;
}
.twitter{
  padding: 0 2%;
  height: 0.3em;
  /* padding: 0 2%; */
  color: #00acee;

}
.instagram{
  height: 0.3em;
  /* width: 2em; */
  padding: 0 2%;
  color: #d6249f;

}




/* media queries */

/* Medium devices Tablets and so on */

@media only screen and (min-width: 601px) and (max-width: 800px){

  body{
     width: 100vw;
     font-size: 1.3rem;
  }
  .carousel_container img{
    /* align-self: center; */
    padding-top: 3rem;
    align-items: center;
  }

}

/* for large screens more than 801px */
@media only screen and (min-width: 801px){
  
#cake_1, #cake_4{
  display: inline;
}

  body{
     width: 100%;
     font-size: 1.5rem;

}


  .hello{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 6% 0;
    
    justify-content: space-around;
}

.hello .cake_container{
  padding: 0 1rem;

}
.company_intro{
  align-self: flex-start;
  width: 28%;
  
  flex-grow: 2;
}
.carousel_container{
  width: 40%;
  padding-bottom: 20%;
}
.image_carousel{
  /* width: 90%; */
 
}
.cakes{
  width: 20%;
  padding: 1em;
  
}

.cakes_container{
  display: flex;
  justify-content: space-around;
}

