*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif', serif;
    font-style: italic;
    background-color: #eeeef5;
}

/* ==============
   Typography
=============== */
h1 {
    line-height: 1.1;
    padding:0 0.5em .5em 3em;
    margin-top: 0;
    color: #fff;
    text-align: right;
    text-shadow: 2px 2px 5px #da2488;
 
}
.content {
    display: inline-block;
    padding:1em;
    text-align: left;
    font-weight: 700;
    letter-spacing: 1px;
    color: #141430;
}
.content-title {
    margin-bottom: .5em;
    color:#6d6e75;
    text-shadow: 1px 1px 3px #262646;
}
.content-title span {
    display:block;
    text-align:left;
    letter-spacing: 2px;
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 2px px rgb(12, 12, 26);
  
}

.description {
    letter-spacing: 1.2px;
    font-weight:bold;
    text-align:start;
    color: #535563;   
}


/* ==============
     Layout
=============== */

 header {
    padding: .5em;
    background-color:#fdeac7 ;
    border-bottom: 1px solid rgba(182, 33, 102, 0.3);

} 

.small-screen {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
 .logo{
    width: auto;
    height:10em;
    margin:.5em;
    margin-bottom: 0;
 }

/* navigation */
.nav {
    position: fixed;
    background:#fdeac7;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transform: translateX(0);
    transition: transform 250ms;
}
.nav-desktop {
    display: none;
}
.navigation-open {
    transform: translateX(-100%);
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.nav-link {
    color:#da2488;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
}

.nav-link:hover,
.nav-link:focus {
    font-size: 1.8rem;
    color: #f788c5;
    text-shadow: 1px 1px 1px #a81043;
}

.close-nav {
    border: 0;
    background: 0;
    color: #da2488;
    font-weight: 700;
    font-size: 3rem;
    cursor: pointer;
    padding: .5em;
    position: absolute;
}

.open-nav {
    border: 0;
    background: 0;
    color:#da2488;
    cursor: pointer;
    padding: .5em;
    margin-left: auto;
    font-size: 2em;
}

/* pictures */

.main-img {
    display: inline-block;
    width:93%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}

.icon ,
.main-img {
    border: 2px solid rgba(182, 33, 102, 0.3);
    border-radius: 10px;
}


.icon{
    min-width:8em;
    width:10em;
    margin: 0 auto;
}

.main-phone {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: auto 2fr 1fr 1fr;
    background-color: #fff;
    color: #181f1a;
    margin: 0 auto;
    gap:1em;
    
}


.content {
    padding: 1rem;
    grid-column: 1/-1;
    grid-row: 1;
}

.main-img {
    grid-column: 1/-1;
    grid-row: 2;
}

.icon1 {
    grid-column: 1/2;
    grid-row: 3;
}

.icon2 {
    grid-column: 2/3;
    grid-row: 3;
}

.icon3 {
    grid-column: 1/2;
    grid-row: 4;
}

.icon4 {
    grid-column: 2/3;
    grid-row: 4;

}


/* footer */

footer {
    border-top: 1px solid rgba(182, 33, 102, 0.3);
}
.footer {
    font-weight:400;
    font-size: .9rem;
    color: #da2488;
    padding: 1em;
    background-color: #fdeac7;
}
.btn-list{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.contact-btn {
    display: inline-block;
    width: 40%;
    text-decoration: none;
    letter-spacing: 0.5px;
    margin:.8em 1.5em;
    padding:1em 1.6em;
    text-align:center;
    color: white;
    text-shadow:1px 1px  1px #181f1a;
    background-color: #a8104380;
    border-radius: 10px;
}

.contact-btn:focus,
.contact-btn:hover {
    padding:1em 1.7em;
    color:#a81043;
    background-color: #f788c5;
    box-shadow: 1px 1px 1px #a81043;
}
.copy-right {
    margin: 1.2em;
    text-align: center;
}

/* =============
  media medium 
=============== */

@media (min-width: 541px) {

    .open-nav,
    .close-nav {
        display:none;
    }
    .h1 {
        font-size: 1rem;
    }
    
    
    .main {
        min-width:95%;
        width: auto;
        margin: 0 auto;
        display: grid;
        gap: .3em;
        grid-template-columns: repeat(4, minmax(90px,1fr));
        grid-template-rows: auto 1fr auto ;
        background-color: #f7f7ff10;
          }
    
    .nav-desktop {
        display:inline-block;
        grid-column: 1/-1;
        grid-row: 1;
        background-color: #b1b1b191;
        border: 1px solid rgba(182, 33, 102, 0.3);
        border-radius: 10px;
        padding: .5em;
        margin: 1em;
          }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
    }
    .nav-link {
        display: inline-block;
        font-size: 1.2rem;
        padding: .2em 1em;
        margin: 0.2em;
        background-color: #fdeac7;
        border: 1px solid rgba(182, 33, 102, 0.3);            border-radius: 7px;
          }
    
    .main-img {
        height:fit-content;
        grid-column: 1/3;
        grid-row: 2;
        
          }
    
    .content {
        font-size: 1.2rem;
        grid-column: 3/5;
        grid-row: 2;
          }
    
          .icon1 {
              grid-column: 1/2;
              grid-row: 3;
          }
    
          .icon2 {
              grid-column: 2/3;
              grid-row: 3;
          }
    
          .icon3 {
              grid-column: 3/4;
              grid-row: 3;
          }
    
          .icon4 {
              grid-column: 4/5;
              grid-row: 3;
          }

          .icon-list {
            width: 90%;
            margin:0 auto;
          }
    
          .icon {
             width:8em;
              margin:0 auto;
          }
    footer {
        margin-top:2em;
    }
        .btn-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    
        .footer {
            display: flex;
            flex-direction: column;
        }
    
    
          }

/* =============
  media large 
=============== */
@media (min-width:900px) {


    .logo {
        display:inline;
        margin: 2em;
    }
   
    
    .main {
        min-width:900px;
        width:90%;
        margin: 0 auto;
        display: grid;
        gap:.5em;
        grid-template-columns:repeat(4, minmax(150px,1fr));
        grid-template-rows:auto 1fr auto ;
        background-color: #f7f7ff10;
    }
    
    .nav-desktop {
        width:100%;
        grid-column: 1/-1;
        grid-row:1;
        background-color: #b1b1b191;
        border: 1px solid rgba(182, 33, 102, 0.3);
        border-radius: 10px;
        padding:1em;;
        margin-bottom: 4em;
    
    }
    .nav-list{
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
    }
    .nav-link {
        font-size: 1.3rem;
        padding: .3em 1.5em;
        background-color: #fdeac7;
        border-radius: 7px;
    }
    .main-img {
        grid-column: 1/3;
        grid-row: 2;
        margin: 0 auto;
    }
    .content {
        font-size: 1.8rem;
        grid-column: 3/5;
        grid-row: 2;
        width: auto;
        margin: 0 auto;
        
    }

    .icon1 {
        grid-column: 1/2;
        grid-row: 3;
    }

    .icon2 {
        grid-column: 2/3;
        grid-row: 3;
    }

    .icon3 {
        grid-column: 3/4;
        grid-row: 3;
    }

    .icon4 {
        grid-column: 4/5;
        grid-row: 3;
    }
    .icon {
       
        width:14em;
        margin: 3rem auto;
    }
    .icon-list {
        width: 100%;
        margin:0 auto;
    }
    .btn-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
    .contact-btn {
        margin: 0 10em;
    }


    
}