/*  Add your styling here */

* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

header {
  padding: 1rem;
  grid-area: header;
  background-color: #ffe5cc;
}

.header {
  display: grid;
  grid-template-areas: "logo hamburger" "logo intro" "nav nav ";
}

.logo {
  grid-area: logo;
  background-color: snow;
}

.hamburger {
  grid-area: hamburger;
  border: none;
  background: transparent;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.intro {
  grid-area: intro;
  text-align: end;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

nav {
  display: none;
  grid-area: nav;
}

.nav-links {
  display: flex;
}

nav ul li {
  padding: 10px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

main {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "welcome welcome" "info info" "home-img home-img" "services services" "cheese birthday" "cupcakes specials";
  grid-gap: 10px;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}
.home {
  grid-area: welcome;
}
.info {
  grid-area: info;
  padding: 1rem 0;
  line-height: 1.5;
}
.home-section {
  grid-area: home-img;
}

.home-section>img {
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.cheese {
  grid-area: cheese;
  background: url("./img/fruitcake2.jpg");
  background-size: cover;
}

.birthday {
  grid-area: birthday;
  background: url("./img/birthday.jpg");
  background-size: cover;
}
.cupcakes {
  grid-area: cupcakes;
  background: url("./img/cupcakes.jpg");
  background-size: cover;
}
.specials {
  grid-area: specials;
  background: url("./img/specials2.jpg");
  background-size: cover;
  background-position: center bottom;
}

.services {
  grid-area: services;
   padding: 1rem 0; 
}

.services-img {
  box-sizing: border-box;
}

.services-img p {
  padding: 4rem 0;
  text-align: center;
}

footer {
  display: grid;
  grid-area: footer;
  padding: 1rem;
  background-color: #e0e0e0;
}

 .contact-links a{
    color: black;
} 
footer ul li{
list-style-type: none;
padding: 8px;
}

footer h2{
    padding-bottom: 0.5rem;
}

footer p{
    text-align: center;
    padding: 10px;
}


@media screen and (min-width: 600px) {
  header {
    background-color: rgb(248, 233, 246);
  }
  .hamburger {
    display: none;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    top: 0;
    left: 0;
  }
  nav ul li {
    margin: 0 15px;
  }
  a {
    color: black;
  }
  .intro {
    padding-bottom: 3rem;
  }


  main {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "home-img home-img welcome welcome" "home-img home-img info info" "services services services services" "cheese birthday cupcakes specials";
  grid-template-rows: 5vh 40vh 15vh 30vh;
  
}

.home{
    font-size: 30px;
    text-align: right;
    padding-bottom: 3em;
}

.info{
    font-size: 20px;
    text-align: right;
}

.contact-links {
    display: flex;
    justify-content: center;
    color: black;
}

footer h2{
    text-align: center;
    padding-bottom: 1rem;
    font-size: 25px;
}
.services {
  text-align: center;
  padding-top: 2rem;
  font-size: 20px;
}
}
