.row > div{
    margin-bottom: 15px;
}
.header{
    min-height: 90px;
}
.footer{
    min-height: 60px;
    color: rgb(253, 252, 252);
}
.header, .footer{
    background: lightblue;
    border: 2px solid lightblue;

}
    
}
.sidebar{
    background: #dbdfe5;
    border: 2px solid lightblue;

}
.intro{
    background:lightblue;
    min-height: 250px;
    border: 2px solid lightblue;

}
.section{
    min-height: 150px;
    background: #dbdfe5;
    border: 2px solid lightblue;

}
.section.bg-alt{
    background: #b4bac0;
    border: 2px solid lightblue;
}