

.logo {
    width: 4rem;
}


/*
.my-container {
    border: 1px solid yellow;
}

.my-row {
    
    border: 1px solid red;
}

.my-col {
    border: 3px solid blue;
}

.navbar {
    background-color: white;
}

h2 {
    border: 1px solid green;
}


*/
.navbar-text {
    font-size: 1.5rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    min-width: 100%;
    max-height: 30rem;
}


.carousel-caption {
    position: relative;
    right: 30rem;
    
    color: black;
}

.carousel-indicators {
    margin-top: 10rem;
}
/*button {
    min-height: 100%;
}*/




  
@media only screen and (min-width: 970px) {
    p {
        font-size: 1.25rem;
    
}

@media only screen and (min-width: 970px) {
    h3 {
        font-size: 2.25rem;
    
}

@media only screen and (min-width: 970px) {
    .navbar-text {
        font-size: 2.5rem;
    
}

@media only screen and (min-width: 750px) {
    .button-bottom {
        font-size: 1.75rem;
    
}

