/*  Add your styling here */

body{
   
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 15rem 15rem 20rem 30rem 15rem;
    grid-template-areas: 
    "header   header"
    "hero     hero"
    "cake     cake"
    "cupcakes cupcakes"
    "footer   footer"
    ;
    gap:1rem;
    font-family: 'Poppins', sans-serif;
}
.header{
    grid-area: header;
    background-color: bisque;
    padding: 1rem;
}
.header_images{
    display: flex;
    /* align-items: center; */
    justify-content:space-between;
}
header h3{
    font-size: 0.7rem;
    width: 10rem;
    text-align: right;
    margin-left: auto;
}
nav{
    display: none;
    grid-area: nav;
    background-color: bisque;
}
.navigation__list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }
  
  .navigation__item {
    padding: 0.5rem 0;
  }

  .navigation__link {
    color: var(--grey-dark);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 1rem;
  }
.shop p{
    font-size: 0.8rem;
}
h4,a{
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
}
.hero{
    grid-area: hero;
}
.hero h1{
padding-left: 1rem;

}
.hero p{
    text-align: justify;
    padding: 1rem;
    font-size: 0.8rem;
}
.cake_after_hero{
    grid-area: cake;
    /* background-image: url(images/cake.jpg);
    background-size: cover;  */
    
    
}
.contact_details{
    grid-area: footer;
   
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}

.copyright{
    align-self: center;
    border-top: solid 0.2rem rgb(109, 23, 23);
}
.cup_cakes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 190px 190px;
    gap: 1rem;
}
.cake_main_img{
    width: 15rem;
    height: auto; 
}
.hamburger{
    width: 2rem;
    height: 2rem;
    display: block;
}
.cake_hero_img{
    width: 100%;
    /* height: auto; */
}
.cup_cakes_img{
    width: 100%;
    height: auto; 
}
.shop{
    grid-area: cupcakes;
}
.shop h3{
    text-align: center;
}
.cakes_button{
    display: flex;
    flex-direction: column;
}
.buy_now{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
button {
    padding: 0.5rem;
    border: 0;
    border-radius: 7%;
    background-color: #c05326;
    color: #FAF9F6;
}
button:hover,button:focus {
    color: #934423;
}
/* TABLET: */
@media screen and (min-width: 550px) {
    body{
        grid-template-rows: 15rem 5rem 18rem 18rem 11rem;
        grid-template-areas: 
        "header   header"
        "nav     nav"
        "cake     hero"
        "cupcakes cupcakes"
        "footer   footer"
        ;
    }
    .cup_cakes{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 200x 
    }
    .info{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
    }
    .hamburger{display: none;}
    nav{display:block}
    header h3{
        font-size: 1rem;
        width: 100%;
        text-align: right;
        margin:0;
    }
}

/* DESKTOP */
@media screen and (min-width: 900px) {
    body{
        grid-template-rows: 15rem 5rem 40rem 30rem 11rem;
        grid-template-areas: 
        "header   header"
        "nav     nav"
        "cake     hero"
        "cupcakes cupcakes"
        "footer   footer"
        ;
        }
    .cup_cakes{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 200x 
    }
    .info{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
    }
    .hamburger{display: none;}
    nav{display:block}
    header h3{
        font-size: 2rem;
        width: 100%;
        text-align: right;
        margin:0;
    }
    .hero h1{
        font-size: 2.3rem; 
    }
    .hero p{
        font-size: 1.7rem;
    }
    
}