main{
    display: grid;
    grid-template-areas: 
    "welcome"
    "p"
    "BigImg"
    "Img1 Img2"
    "Img3 Img4";
    /* grid-template-rows: ; */
    /* grid-template-columns:; */


    /* grid-template-rows: auto; */
}
.welcome{
    grid-area: welcome;
}
.p{
    grid-area: p;
}
.hero-img{
    grid-area: BigImg;
}
.img-box{
    width:50% ;
    height:50% ;
    object-fit: cover;

}
.img1{
    grid-area: Img1;
}
.img2{
    grid-area: Img2;
}
.img3{
    grid-area: Img3;
}
.img4{
    grid-area: Img4;
}