/* global element styling */

body {
    background-color: #ffdbe4;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
}

main {
    position: relative;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}


/* global class styling */

.header {
    background-color: rgb(228, 228, 228);
    margin: 0px;
    width: 100%;
    height: auto;
    flex: auto;
    flex-direction: column;
    /* opacity: 0.9; */
}

.header-img {
    max-width: 200px;
}


/* cake image section */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


/* creating 4 columns sitting next to each other */

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}


/* responsive layout - 2 columns */

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}


/* responsive layout - makes two columns stack on top of each other */

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}