.about{
    margin: 5rem 0;

    .about__cards{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        @media screen and(min-width: 1000px){
            width: 95%;
            flex-direction: row;
            justify-content: space-between;
        }
        @media screen and(min-width: 1200px){
            width: 80%;
        }


        .card-c{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 30rem;

            @media screen and(min-width: 1000px){
                width: 30rem;
            }

            &__image{
                
                
              
                position: relative;


                &-letter{
                    font-family: 'Shrikhand', cursive;
                    font-size: 15rem;
                    text-align: center;
                    color: $color-primary;
                    margin-bottom: 0;
                    
                }

                &-icon{
                    width: 6rem;
                    height: 6rem;
                    position: absolute;
                    bottom: 6rem;
                    right: 0;
                }

            }

            &__heading{
                margin-top: 0;
            }


        } 
    }
}