.custom-button{

    &:active, &:focus{
        outline: none;
    }
        
    margin: 2rem 0;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    color: white;
    font-family: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;

     &--primary{
       
         background-color: $color-primary;

         &:hover{
            background-color: $color-primary-lighten-10;
         }
     }

     &--secondary{
        
        background-color: $color-secondary;

        &:hover{
           background-color: $color-secondary-darken-10;
        }
     }

     
    
}



   
