.footer{
    background-color: $color-primary;
    padding: 5rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and(min-width: 1000px){
        padding: 5rem 5% 0 5%;
    }

    &__logo{
        width: 15rem;
        align-self: center;
    }



    .footer-info{
        margin: 5rem 0;
        
        @media screen and(min-width:800px){
            
            display: flex;
            justify-content: space-evenly;
            
        }

        &__locations, &__form{
            width: 90%;
            margin: 1rem auto;
            background-color: $color-primary-lighten-12;
            padding: 1rem 2rem;
            border-radius: 20px;

            @media screen and(min-width:600px){
                width: 70%;
            }

            @media screen and(min-width:800px){
                margin: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            @media screen and(min-width:1500px){
                width: 60rem;
            }
    
        }

        &__text{
            color: white;
            font-size: 1.6rem;
            font-weight: 300;
        }

        &__form{
            

            .form{
                display: flex;
                flex-direction: column;

                &__input{
                    padding: .5rem 1rem;
                    margin: 5px 0;
                    border-radius: 20px;
                    border: 0;
                    outline: none;
                    resize: none;
                    font-size: 1.4rem;
                    
                    &::placeholder{
                        color: $color-primary;
                        
                    }
                }
            }
        }
    }


    &__social{
        margin-bottom: 1rem;
        align-self: center;
        
        &-img{
            width: 3rem;
            margin: 0 1rem
        }
    }


    &__copyright{
        align-self: center;
        color: white;
        font-size: 1.4rem;
        font-weight: 300;
    }

} 


