.offers{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url('../../images/offers.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;


    @media screen and(min-width: 1000px){
        
        padding: 8rem 10%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__info{
        @media screen and(min-width: 1000px){
            width: 60%;
        }
    }
} 

