* {
    font-family: arial;
}

.mycustomrow {
    background-color: pink;
    max-height: 200px;
    display: flex;
    padding: 12px;
}

.logo {
    max-width: 100%;
}


.slogan {
    color: white;
    font-size: 2rem;
    font-weight: 200;
}

.navigation {
    background-color: pink;
    margin-top: 12px;
    padding: 12px;
}

.nav-item {
    padding: 12px;
    background-color: white;
}

img {
    width: 100%;
}
