*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  // width: 100vw;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
  // padding: 3rem;
}
