body{
  margin:0;
  font-size:1.125rem;
  font-family: sans-serif;
}

/* layout*/
img{
  max-width: 100%;
  display:block;

}
.container{
  
  width:90%;
  border: 1px solid blue;
  margin:0 auto;
}
.container-flex{
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.article-recent{
  display:flex;
  flex-direction:column;
}
/* navigation*/
.header{
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
.logo{
  width:20%;
  
}




nav ul{
  list-style:none;

}
input{
  display:none; s
}




/* from a minimum width of 768px and above*/

  
@media(min-width:768px){
  /* layout*/

  .container-flex{
    flex-direction:row;
  }
  
  .article-recent{
    flex-direction:row;
    flex-wrap: wrap;
    
  }
  
  .article-recent img{
    width:20%;
  }
  .main{
    width:70%;
  }
  .aside{
    width: 30%;
  }
  /* navigation*/

  .logo{
    max-width:80px;
  }
  .header{
    justify-content: space-between;
    
    background-color: greenyellow;

  }
  .header .nav-bar{
    display:flex;
    
  }
  input,label{
    display:none;
  }
}
