* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sen", sans-serif;
}

h1 {
  font-size: 1.75rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 0.3rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* =========   Header  ==========  */

/*  nav and image grid   */
.nav_ham {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 1rem 1.5rem;
}

.nav_menu_div {
  display: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
}

/*             Navigation */
.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10rem;
}

.nav-item {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
}

/*             hamburgar */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: black;
}

/*             image */
.nav_div {
  display: flex;
  justify-content: space-between;
}
.nav_img_div {
  width: 8rem;
}
.nav_img {
  max-width: 100%;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-left: 1rem;
}

/*             text */
.text_head_div {
  width: 70%;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 0;
  padding-bottom: 22px;
}

.text_head_div > p {
  text-align: right;
  font-size: 1.3rem;
}

/*           main grid */
.body_img_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "main main"
    "feature feature"
    "feature_4_1 feature_4_2"
    "feature_4_3 feature_4_4";

  gap: 1rem;
  margin: 3rem 2rem;
}

/* =========   Test hero banner  ==========  */
.hero_text {
  grid-area: main;
  margin-bottom: 2rem;
}

/* =========   Featured image bannner  ==========  */
.featured_cake {
  margin-bottom: 1rem;
  grid-area: feature;
  position: relative;
}
.featured_cake > img {
  max-width: 100%;
  max-height: 100%;
  margin: 0.5rem auto;
}

/* =========  Featured four items - 1   ==========  */
.img_div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.feature_div_1 {
  grid-area: feature_4_1;
}
.feature_div_2 {
  grid-area: feature_4_2;
}
.feature_div_3 {
  grid-area: feature_4_3;
}
.feature_div_4 {
  grid-area: feature_4_4;
}

.feature_img {
  width: 100%;
}

.feature_four_item {
  width: 100%;
  height: 100%;
}

/* =========  Footer   ==========  */
footer {
  text-align: center;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_social > a {
  margin: 5px;
  color: black;
}
.footer_social {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/

/* =========   Responsive layout  ==========  */
/**/
/**/
/**/
/* styles for browsers larger than 540 px; */
@media screen and (min-width: 540px) {
  .body_img_div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "main main main main feature_4_1 feature_4_1"
      "main main main main feature_4_2 feature_4_2"
      "feature feature feature feature feature_4_3 feature_4_3"
      "feature feature feature feature feature_4_4 feature_4_4";
  }

  .featured_cake {
    margin-bottom: 0;
  }

  .feature_four_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-social {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 900px) {
  .nav_menu_div {
    display: block;
  }
  .nav_ham {
    display: none;
  }

  .body_img_div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "feature feature main main"
      "feature_4_1 feature_4_2 feature_4_3 feature_4_4";
  }
}
